{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block main %}
    <h1 style="margin-bottom: 20px;">Login</h1>
    <form action="/auth/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="login" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" id="login" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <div class="mb-3" style="margin-top:10px">
        <a href="{{ url_for('auth.register') }}">New user?</a>
    </div>
{% endblock %}