{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

  {% block header2 %}
    <div class="container" style="display: flex; flex-direction: column; margin-top: 30px; padding-inline: 30px; flex-wrap: wrap; align-items: center; text-align: center;">
      <div class="mb-3" style="display:flex;align-items: center; margin:30px">
        <h1 style="margin-bottom:10px">Welcome {{ g.user["username"].capitalize() }}!</h1>
      </div>
      <div class="mb-3" style="display:flex;align-items:center; margin:30px">
        <form method="get" action="/make"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">Create a Public Post</button></form>
        <form method="get" action="/requests"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">Send a Private Message</button></form>
        <form method="post" action="/private"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">Private Messages</button></form>
      </div>
    </div>
      <div class="pending">
        <h5>Pending Message Requests:</h5>
        {% for person in pending %}
          <ul class="pending">
            <li>
              <h4>{{ (person.username).capitalize() }}:</h4>
              <div style="display: flex;">
                <form method="post"><input type="hidden" name="person_id" value="{{ person.id }}"><button type="submit" id="accept" name="accept" class="btn btn-primary">Accept</button></form>
                <form method="post"><input type="hidden" name="person_id" value="{{ person.id }}"><button type="submit" id="reject" name="reject" class="btn btn-primary">Reject</button></form>
              </div>
            </li>
          </ul>
        {% endfor %}
      </div>
  {% endblock %}
  

  {% block index %}  
  {% for posts in main %}
  <!-- HTML Layout taken from Flask Tutorial -->
    <!-- <div class="background_wrapper"> -->
      <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <article class="post">

              {% if g.user["id"] == posts.post.user_id %}
                <div id="edit"> 
                <form method="post">
                  <input type="hidden" name="delete_id" value="{{ posts.post.post_id }}">
                  <button type="submit" name="delete" class="delete-link">Delete Post</button>
                </form>

                </div>
              {% endif %}
              <header>
              <div class="title-container">
              <div class="circle"><strong>{{ (posts.post.username[0]).capitalize() }}</strong></div>
              <div class="title1"><strong>{{ posts.post['title'] }}</strong></div>
              <div class="name1">{{ (posts.post['username']).capitalize() }}</div>
            </div>
          </header>
          <p class="body">{{ posts.post.body }}</p>
          {% if posts.comments %}
            <p style="text-align: right; margin-right: 30px; font-size: 1.2em;">Comments:</p>
          {% endif %}
          {% for comment in posts.comments %}
            <div class="body-container-reply" style="margin: 10px 10px 0px 0px;">
              <div class="circle-reply"><strong>{{ (comment.commenter_username[0]).capitalize() }}</strong></div>
              <div class="title1-reply">{{ comment.comment }}</div>
              <p style="font-size: .5em;">{{ (comment.comment_time).strftime('%m-%d-%Y' " at " '%H:%M' " (UTC)") }}</p>
            </div>  
          {% endfor %}
          <form id="edits_form" method="post">
            {% if g.user["id"] == posts.post.user_id %}
                <textarea rows="2" cols="30" type="text" name="comment_body" placeholder="Leave a Comment or Edit your Post!" style="width: 85%; height: 40px;"></textarea>
                <div id="edits">
                <input type="hidden" value="{{ posts.post.post_id }}" name="post">
                <button type="submit" name="comment_submit" class="btn btn-primary">Comment</button>
                <input type="hidden" name="edit_id" value="{{ posts.post.post_id }}">
                <button type="submit" id="edit_button" name="edit" class="btn btn-primary">Edit Post</button>
              </div>
            {% else %}
              <textarea rows="2" cols="30" type="text" name="comment_body" placeholder="Leave a Comment!" style="width: 85%; height: 40px;"></textarea>
              <input type="hidden" value="{{ posts.post.post_id }}" name="post">
              <button type="submit" name="comment_submit" class="btn btn-primary">Comment</button>
            {% endif %}
          </form>
          <footer>
            {{ posts.post.post_time.strftime('%m-%d-%Y') }}
          </footer>
        </article>
      </div>
  {% endfor %}
  {% endblock %}