{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

  {% block header2 %}
    <div class="container" style="display: flex; justify-content: space-between; margin-top: 30px; padding-inline: 30px; flex-wrap: wrap;">
      <div class="mb-3" style="display:flex;align-items: center; margin:30px">
        <h1 style="margin-bottom:10px">Welcome {{ g.user["username"].capitalize() }}!</h1>
      </div>
      <div class="mb-3" style="display:flex;align-items:center; margin:30px">
        <form method="get" action="/make"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">Create a Post</button></form>
        <form method="get" action="/requests"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">Send a Message</button></form>
        <form method="post" action="/private"><button style="background-color:green; padding-inline: 10%; margin-inline: 20px;" class="btn btn-primary">PRIVATE POST</button></form>
      </div>
    </div>
      <div class="container" style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 30px;">
        <h5>Pending Message Requests:</h5>
        {% for person in pending %}
          <ul class="pending">
            <li>{{ person.username }}</li>
          </ul>
        {% endfor %}
      </div>
  {% endblock %}
  

  {% block index %}  
  {% for post in main %}
  <!-- HTML Layout taken from Flask Tutorial -->
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">by {{ post['username'] }} on {{ post['time'].strftime('%Y-%m-%d') }}</div>
          </div>
        </header>
        <p class="body">{{ post['body'] }}</p>
      </article>
      {% if not loop.last %}
        <hr style="width: 50%;">
      {% endif %}
    </div>
  {% endfor %}
  {% endblock %}