{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Private{% endblock %}</h1>
{% endblock %}



{% block main2 %}
    <div class="container" style="display: flex; flex-direction: column; margin-top: 30px; padding-inline: 30px; flex-wrap: wrap; align-items: center; text-align: center;">
        <div class="mb-3" style="display:flex;align-items: center; margin:30px">
            <h1 style="margin-bottom:10px">Welcome {{ g.user["username"].capitalize() }}!</h1>
        </div>

    </div>
    <main class="container py-5 text-center">
        {% for user_id, username in names.items() %}
            <ul>
                <li>
                    <form method="get" id="myForm{{ user_id }}">
                        <input type="hidden" name="dm_id" value="{{ user_id }}">
                        <a href="#" onclick="document.getElementById('myForm{{ user_id }}').submit();">
                            <h4>{{ username.capitalize() }}</h4>
                        </a>
                    </form>
                </li>
            </ul>
        {% endfor %}
    </main>
    <div class="container" style="display: flex; align-items: center; justify-content: center; padding-top: 10px;">
        <form method="get" action="/"><button style="background-color:green" class="btn btn-primary">Homepage</button></form>
    </div>
{% endblock %}

  


  <!--Post Requests  -->
{% block header2 %}
<div class="container" style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
    <h2 style="margin-bottom:10px">{{ (g.user["username"]).capitalize() }}'s Private Messages</h2>
</div>
{% endblock %}

{% block index %} 
<!-- HTML Layout taken from Flask Tutorial -->
{% for post in messages %}
<!-- HTML Layout taken from Flask Tutorial -->
  <!-- <div class="background_wrapper"> -->
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">-{% if post.type == 'incoming' %}{{ post.sender_user }}{% else %}{{ post.receiver_user }}{% endif %}</div>
          </div>
        </header>
        <p class="body">{{ post['body'] }}</p>
        <footer>
          {{ post['time'].strftime('%m-%d-%Y') }}
        </footer>
      </article>

      <!-- {% if not loop.last %}
        <hr style="width: 50%;"> -->
      {% endif %}
    </div>
  <!-- </div> -->
{% endfor %}
{% endblock %}