{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Private{% endblock %}</h1>
{% endblock %}



{% block main2 %}
    <div class="container" style="display: flex; flex-direction: column; margin-top: 30px; padding-inline: 30px; flex-wrap: wrap; align-items: center; text-align: center;">
        <div class="mb-3" style="display:flex;align-items: center; margin:30px">
            <h1 style="margin-bottom:10px">Select a Private Message Thread</h1>
        </div>

    </div>
    <main class="container py-5 text-center">
        {% for user_id, username in names.items() %}
            <ul>
                <li>
                    <form method="get" id="myForm{{ user_id }}">
                        <input type="hidden" name="dm_id" value="{{ user_id }}">
                        <a href="#" onclick="document.getElementById('myForm{{ user_id }}').submit();">
                            <h4>{{ username.capitalize() }}</h4>
                        </a>
                    </form>
                </li>
            </ul>
        {% endfor %}
    </main>
    <div class="container" style="display: flex; align-items: center; justify-content: center; padding-top: 10px;">
        <form method="get" action="/"><button style="background-color:green" class="btn btn-primary">Homepage</button></form>
    </div>
{% endblock %}

  


  <!--Post Requests  -->
{% block header2 %}
<div class="container" style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
    <h2 style="margin-bottom:10px">{{ (g.user["username"]).capitalize() }}'s Private Messages</h2>
</div>
{% endblock %}

{% block index %} 
<!-- HTML Layout taken from Flask Tutorial -->
{% for post in messages %}
<!-- HTML Layout taken from Flask Tutorial -->
  <!-- <div class="background_wrapper"> -->
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">-{% if post.type == 'incoming' %}{{ post.sender_user }}{% else %}{{ post.receiver_user }}{% endif %}</div>
          </div>
        </header>
        {% if post.type == 'incoming' %}
            {% if not post['response'] %}
                <form method="post" class="body"><input name="send_id" type="hidden" value="{{ post.sender_id }}"><textarea rows="4" cols="50" type="text" name="response" placeholder="Enter your response to see the message" style="width: 85% !important; height: 80px;"></textarea><br>
                    <button class="btn btn-primary" name="response_button" type="submit">submit</button></form>
                <footer>
                    {{ post['time'].strftime('%m-%d-%Y') }}
                  </footer>
                </article>
            {% else %}
                <p class="body">{{ post['body'] }}</p>
                <p class="body">My Response: {{ post['response'] }}</p>
                <footer>
                    {{ post['time'].strftime('%m-%d-%Y') }}
                  </footer>
                </article>
            {% endif %}
        {% else %}
            <p class="body">{{ post['body'] }}</p>
            <p class="body">{% if post['response'] %}Response: {{ post['response'] }}{% endif %}</p>
            <footer>
                {{ post['time'].strftime('%m-%d-%Y') }}
              </footer>
            </article>
        {% endif %}


      <!-- {% if not loop.last %}
        <hr style="width: 50%;"> -->
      {% endif %}
    </div>
  <!-- </div> -->
{% endfor %}
<form method="post" action="/private"><button style="background-color:green" class="btn btn-primary">Back</button></form>

{% endblock %}